:root {
  --main-color: #ff9800;
  --main-transition: 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Start Components */
.container {
  width: 1170px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin: auto;
}

.section-header {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0px auto 50px;
  text-align: center;
  background-color: white;
  width: fit-content;
  padding: 15px 25px;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}

/* End Components */

/* Start Reset The HTML Elements */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h4,
h2,
h3,
p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}
/* End Reset The HTML elements */

/* Start Setting box */
.setting-box {
  position: fixed;
  top: 0;
  left: -195px;
  z-index: 1000;
  background: #bebebe;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 200px;
  min-height: 100vh;
  transition: left var(--main-transition);
}

.setting-box.open {
  left: 0;
}

.setting-box .setting-icon {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #bebebe;
  padding: 8px 0;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.setting-box .setting-icon i {
  font-size: 18px;
  color: #363636;
}

.setting-box .setting-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.setting-box .option-box {
  padding: 8px;
  border-radius: 7px;
  background-color: #363636;
  text-align: center;
}

.setting-box .option-box h4 {
  margin-bottom: 15px;
  color: #fff;
}

.option-box .color-list li {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  opacity: 0.3;
  display: inline-block;
  cursor: pointer;
}

.option-box .color-list li.active {
  opacity: 1;
  border: 1px solid white;
}

.option-box .color-list li:first-child {
  background-color: #ff9800;
}
.option-box .color-list li:nth-child(2) {
  background-color: #e91e63;
}
.option-box .color-list li:nth-child(3) {
  background-color: #009688;
}
.option-box .color-list li:nth-child(4) {
  background-color: #03a9f4;
}
.option-box .color-list li:last-child {
  background-color: #4caf50;
}

/* ------------------------------------- */
.option-box .yes,
.option-box .no {
  color: white;
  background-color: #7d7d7d;
  padding: 3px 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
}

.option-box .yes.active,
.option-box .no.active {
  opacity: 1;
  border: 1px solid white;
}
/* ---------------------------------------- */


/* End Setting box */

/* Start Nav Bullets */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 198;
}

.nav-bullets.hide {
  display: none;
}

.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: white;
  padding: 8px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}

.nav-bullets .bullet:hover .tooltip {
  display: block;
}

.nav-bullets .bullet .tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent  transparent var(--main-color);
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

/* End Nav Bullets */

/* Start landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url("../images/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-area {
  position: relative;
  padding: 8px 20px;
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 2;
}

.header-area .logo {
  width: 300px;
  font-weight: bold;
  font-size: 18px;
}

.header-area .links {
  list-style: none;
  padding-left: 0px;
  padding-right: 20px;
  width: 100%;
  text-align: right;
}

.header-area .links li {
  display: inline;
  font-size: 15px;
  margin-left: 15px;
}

.header-area .links li a {
  text-decoration: none;
  color: white;
  transition: var(--main-transition);
}

.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}

.introduction-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.introduction-text h1 span {
  color: var(--main-color);
}

.introduction-text h1 {
  font-size: 34px;
  margin-bottom: 12px;
}

.introduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin-top: 0px;
}

/* @media (max-width: 768px) {
  .header-area {
    flex-direction: column;
  }

  .header-area .logo,
  .header-area .links{
    text-align: center;
    padding: 4px 0;
  }
} */
/* Start landing Page */

/* Start About Us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-us .container {
  display: flex;
}

.about-us .info-box {
  flex: 1;
  padding: 30px;
}

.about-us .info-box h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
}

.about-us .info-box p {
  color: #767676;
  line-height: 1.8;
}

.about-us .image-box {
  flex: 1;
  text-align: center;
}

.about-us .image-box img {
  width: 250px;
}

/* End About Us */

/* Start  Skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

.skills .skill-box {
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);

  border-radius: 8px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.skills .skill-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgb(0 0 0 / 15%);
}

.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}

.skills .skill-box .skill-progress {
  height: 30px;
  background-color: #eeeeee;
  border-radius: 6px;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 1s ease;
}

/* End  Skills */

/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery .images-box {
  text-align: center;
}

.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
  transition: transform var(--main-transition);
}

.gallery .images-box img:hover {
  transform: translateY(-5px);
}

body.popup-open {
  overflow: hidden;
}

.popup-overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 200;
  text-align: center;
  background-color: #fdfdfd;
}

.popup-container img {
  width: 100%;
}

.popup-container h3 {
  margin-bottom: 20px;
  color: var(--main-color);
}

.popup-container button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, Tahoma;
}

/* End Gallery */

/* Start Timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timeline .timeline-content:before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}

.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}

.timeline .timeline-content .left {
  float: left;
}

.timeline .timeline-content .left::before {
  right: -35px;
}

.timeline .timeline-content .right {
  float: right;
}

.timeline .timeline-content .right::before {
  left: -35px;
}

.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}

.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}

.timeline .timeline-content .left .content::after {
  right: -20px;
  border-color: transparent transparent transparent #fff;
}

.timeline .timeline-content .right .content::after {
  left: -20px;
  border-color: transparent #fff transparent transparent;
}

.timeline .timeline-content .content::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  border: 10px solid;
  top: 20px;
}

.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 10px;
}

.timeline .timeline-content .content p {
  color: #666;
  list-style: 1.6;
}

.clearfix {
  clear: both;
}
/* End Timeline */

/* Start Features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 20px;
}

.features .feat-box {
  text-align: center;
  padding: 10px;
}

.features .feat-box img {
  width: 96px;
}

.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}

.features .feat-box h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -22px;
  left: 50%;
  margin-left: -20px;
}

.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #666;
}

/* End Features */

/* Start Testimonials */
.testimonials {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials::before {
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  height: 100%;
}

.testimonials::after {
  content: "";
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #333;
  height: 100%;
}

.testimonials h2 {
  position: relative;
  z-index: 2;
}

.testimonials .testimonials-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.testimonials .ts-box {
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 20px;
}

.testimonials .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color: #666;
  font-style: italic;
}

.testimonials .ts-box .person-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonials .ts-box .person-info .image-box img {
  border-radius: 50%;
}

.testimonials .ts-box .person-info h4 {
  margin-bottom: 10px;
}

.testimonials .ts-box .person-info p {
  color: #444;
  font-weight: 500;
}

/* End Testimonials */
